
.navbar{
    background-color:black
    
    
  }
  .header2{
    color: black;
text-align: center;
font-size: large;
 }
  .container2{
   
        text-align: center;
        opacity: 1;
        color: black;
        
  }
  body {
    background-image: url('/OIP.jfif');
  }